<div style="padding: 15px;">
  <div style="text-align:center">
    <h1>
      Welcome to {{ title }}!
    </h1>
  </div>
  <div style="display: flex; justify-content: center; padding-bottom: 10px">
    <ag-grid-angular 
      style="width: 100%; height: 300px;" 
      class="ag-theme-balham"
      [rowData]="rowData" 
      [columnDefs]="columnDefs"
      [defaultColDef]="defaultColDef"
      (cellClicked)="onClickEdit($event)"
      (firstDataRendered)="onFirstDataRendered($event)">
    </ag-grid-angular>
  </div>
  <button mat-stroked-button >Insert</button>
</div>



<router-outlet></router-outlet>
